{
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ".editorconfig",
      "options": { "parser": "yaml" }
    },
    {
      "files": "LICENSE",
      "options": { "parser": "markdown" }
    }
  ]
}
